<div class="bottom-container">
<a class="footer-link" href="https://www.linkedin.com/in/khushi-upadhyay-bb7b62220/">LinkedIn</a>
<a class="footer-link" href="https://www.instagram.com/invites/contact/?i=1ip37lmzh813e&utm_content=n70q7na ">Instagram</a>
<a class="footer-link" href="https://github.com/Khushi-2005/">Github</a>
<p class="copyright">© 2022 Khushi Upadhyay.</p>
</div>


</body>
</html>
